---
import Header from "@components/sections/hero.astro";
import About from "@components/sections/about.astro";
import Experiencia from "@components/sections/experience.astro";
import Educacion from "@components/sections/education.astro";
import Proyectos from "@components/sections/projects.astro";
import Habilidades from "@components/sections/skills.astro";
import Contacto from "@components/sections/contact.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const locate = Astro.currentLocale;
---

<html lang={locate}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leonardo Castillo's Portfolio</title>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    />
  </head>
  <body>
    <main>
      <section>
        <section></section>
        <div><Header /></div>
      </section>
      <section class="fondo">
        <div><About /></div>
      </section>
      <section>
        <div><Experiencia /></div>
      </section>
      <section class="fondo">
        <div><Proyectos /></div>
      </section>
      <section>
        <div><Educacion /></div>
      </section>
      <section class="fondo">
        <div><Habilidades /></div>
      </section>
      <section>
        <div><Contacto /></div>
      </section>
    </main>
  </body>
</html>
<style is:global>
  .color_gray {
    color: #707070;
  }
  body {
    font-family: "Manrope";
  }
</style>
<style>
  section:first-child > div {
    margin-top: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
  /* section se extiende todo horizontalmente */
  section {
    display: flex;
    justify-content: center;
    background-color: #d9dbea;
  }

  /* se extiende solo dentro del section */
  section > div {
    max-width: 750px;
    background-color: white;
    width: 100%;
    padding: 4vh 4vh;
  }
  section > div:first-child {
    padding-top: 0vh;
  }

  section.fondo > div {
    background-color: #f9fafb;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
  }

  .icon {
    display: flex;
    position: fixed;
    top: 0px;
    right: 32px;
    padding: 1vh 0.5vw 0.5vw;
    gap: 0.1em;
    align-items: start;
    font-family: ui-sans-serif;
    font-weight: 600;
    color: rgb(193, 195, 200);
  }

  @media (width <= 700px) {
    section {
      justify-content: start;
    }
  }
</style>
