---
import InfoCard from "@components/infoCard.astro";

const locate = Astro.currentLocale;
let module = locate === "es" ? await import("@data") : await import("@data.en");
const data = module.default;

const { education } = data;
const { institution, area, startDate, endDate } = education;
---

<section>
  <h2>{locate === "es" ? "Educación" : "Education"}</h2>
  <InfoCard
    name={institution}
    descripcion={area}
    startDate={startDate}
    endDate={endDate}
  />
</section>
<style>
  @media print {
    section {
      break-inside: avoid;
    }
  }
</style>
