---
import Header from "../components/header.astro";
import About from "../components/about.astro";
import Experiencia from "../components/experiencia.astro";
import Educacion from "../components/educacion.astro";
import Proyectos from "../components/proyectos.astro";
import Habilidades from "../components/habilidades.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div class="contenedor">
        <Header />
        <About />
        <Experiencia />
        <Educacion />
        <Proyectos />
        <Habilidades />
      </div>
    </main>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .contenedor {
    max-width: 700px;
  }
</style>
