---
import { Icon } from "astro-icon/components";
import Header from "../components/header.astro";
import About from "../components/about.astro";
import Experiencia from "../components/experiencia.astro";
import Educacion from "../components/educacion.astro";
import Proyectos from "../components/proyectos.astro";
import Habilidades from "../components/habilidades.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script
      src="https://cdn.jsdelivr.net/npm/mousetrap@latest/dist/mousetrap.min.js"
    ></script>
  </head>
  <body>
    <main>
      <section>
        <section></section>
        <div><Header /></div>
      </section>
      <section class="fondo">
        <div><About /></div>
      </section>
      <section>
        <div><Experiencia /></div>
      </section>
      <section class="fondo">
        <div><Proyectos /></div>
      </section>
      <section>
        <div><Educacion /></div>
      </section>
      <section class="fondo">
        <div><Habilidades /></div>
      </section>
    </main>
    <!-- <div class="icon">
      <Icon name="material-symbols--translate" />
      <span>ES</span>
    </div> -->
  </body>
</html>

<style>
  section:first-child > div {
    margin-top: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
  /* section se extiende todo horizontalmente */
  section {
    display: flex;
    justify-content: center;
    background-color: #d9dbea;
  }

  /* se extiende solo dentro del section */
  section > div {
    max-width: 750px;
    background-color: white;
    width: 100%;
    padding: 4vh 4vh;
  }
  section > div:first-child {
    padding-top: 0vh;
  }

  section.fondo > div {
    background-color: #f9fafb;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
  }

  .icon {
    display: flex;
    position: fixed;
    top: 0px;
    right: 32px;
    padding: 1vh 0.5vw 0.5vw;
    gap: 0.1em;
    align-items: start;
    font-family: ui-sans-serif;
    font-weight: 600;
    color: rgb(193, 195, 200);
  }

  @media (width <= 700px) {
    section {
      justify-content: start;
    }
  }
</style>
