---
const { name, summary = "# test", startDate, endDate } = Astro.props;
import { marked } from "marked";

const content = marked.parse(summary);
---

<section>
  <h3>{name}</h3>
  <time class="color_gray fecha">{startDate}-{endDate}</time>
  <div set:html={content} />
</section>

<style>
  div {
    color: #707070;
    font-size: 0.9em;
  }
  time {
    font-size: 0.9em;
  }
</style>
