---
import "../styles/global.css";
const { name, descripcion, startDate, endDate } = Astro.props;
---

<section>
  <div>
    <h3>{name}</h3>
    <p class="color_gray">{descripcion}</p>
  </div>
  <time class="color_gray fecha">{startDate}-{endDate}</time>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
  }
  div > h3 {
    color: #363636;
    margin: 0px;
  }
  time {
    text-wrap: nowrap;
  }

  @media (width <= 600px) {
    section {
      flex-direction: column;
    }
  }
</style>
