---
import "../styles/global.css";
const { name, descripcion, startDate, endDate } = Astro.props;
---

<div class="infoCard">
  <div class="info">
    <h3 class="name">{name}</h3>
    <p class="color_gray">{descripcion}</p>
  </div>
  <p class="color_gray fecha">{startDate}-{endDate}</p>
</div>

<style>
  .infoCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .info {
    width: 70%;
  }
  .fecha {
    margin-top: 0px;
  }

  .name {
    text-wrap: nowrap;
  }

  h3 {
    color: #363636;
    margin: 0px;
    padding: 0px;
  }
</style>
