---
import { Icon } from "astro-icon/components";
import data from "../data.json";
---

<section>
  <h2>Proyectos</h2>
  <ul>
    {
      data.projects.map((item) => (
        <li>
          <article>
            <header>
              <h4>{item.name}</h4>
              <a href=`${ item.url}` class="icon">
                <Icon name="mdi--github"  />{" "}
                {item.isActive ? (
                  <Icon class="padlock unlock" title="proyecto publico" name="mdi--unlocked" />
                ) : (
                  <Icon class="padlock lock" title="proyecto privado" name="material-symbols--lock" />
                )}
              </a>
            </header>
            <p class="color_gray parrafo">{item.description}</p>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .icon {
    color: #1a1818;
    text-decoration: none;
  }
  .padlock{
    width: 12px;
    cursor: default;
  }
  .unlock {
    color: #485d3d;
    animation-name: flicker;
    animation-duration: 3.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-shadow:  0 6px 5px #8d8d8d;  ;
  }
  .lock{
    color: #d47171;
  }


  @keyframes flicker {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.25;
    }

    to {
      opacity: 1;
    }
  }
  header {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5vw

  }
  li {
    border: 1px solid #eee;
    padding: 0.4em;
    border-radius: 1em;
    width: 28%;
    transition: all 0.5s ease-in-out;
  }
  h4 {
    margin-top: 0px;
  }

  .parrafo {
    text-wrap: pretty;
    margin: 0px;
  }
  @media (width <= 700px) {
    ul {
      justify-content: space-around;
    }
    li{
      width: 40%;
      transition: all 0.5s;
    }
  }

  @media print {
    section {
      break-inside: avoid;
    }
  }
</style>
