---
import data from "../../data.en.json";
const { education } = data;

const { institution, area, startDate, endDate } = education;

import InfoCard from "./infoCard.astro";
---

<section>
  <h2>Education</h2>
  <InfoCard
    name={institution}
    descripcion={area}
    startDate={startDate}
    endDate={endDate}
  />
</section>
<style>
  @media print {
    section {
      break-inside: avoid;
    }
  }
</style>
