---
import data from "../../data.en.json";
const { work } = data;

const { position, summary, startDate, endDate } = work;

import InfoCard from "./infoCard.astro";
---

<section>
  <h2>Work Experience</h2>
  <InfoCard
    name={position}
    descripcion={summary}
    startDate={startDate}
    endDate={endDate}
  />
</section>
